
.history/*
Robots3D/.idea/sonarlint/
Robots3D/lib/annotations-13.0-javadoc.jar
Robots3D/lib/annotations-13.0-sources.jar
Robots3D/.idea/uiDesigner.xml
Robots3D/lib/commons-math3-3.6.1-javadoc.jar
Robots3D/lib/commons-math3-3.6.1-sources.jar
Robots3D/lib/cache-api-1.0.0-javadoc.jar
Robots3D/lib/cache-api-1.0.0-sources.jar
Robots3D/lib/ignite-core-2.6.0-javadoc.jar
Robots3D/lib/ignite-core-2.6.0-sources.jar
Robots3D/lib/ignite-shmem-1.0.0-javadoc.jar
Robots3D/lib/ignite-shmem-1.0.0-sources.jar
Robots3D/lib/ignite-slf4j-2.6.0-javadoc.jar
Robots3D/lib/ignite-slf4j-2.6.0-sources.jar
Robots3D/lib/slf4j-api-1.7.7-javadoc.jar
Robots3D/lib/slf4j-api-1.7.7-sources.jar
Robots3D/out/
*.class
